{{- $wmForceDisplayServer := "" -}}
{{- $disableBwSshAgent := false -}}
{{- $bwServerUrl := promptStringOnce . "bwServerUrl" "Bitwarden server URL (leave blank for cloud vault.bitwarden.com)" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $wmForceDisplayServer = promptStringOnce . "wmForceDisplayServer" "Force display server (leave blank for auto-detect, or type: x11/wayland)" -}}
{{- end -}}
{{- if ne .chezmoi.os "windows" -}}
{{-   $disableBwSshAgent = promptBoolOnce . "disableBwSshAgent" "Disable Bitwarden SSH agent?" -}}
{{- end -}}

{{- if ne .chezmoi.os "windows" }}
sourceDir = "{{ joinPath .chezmoi.homeDir ".dotfiles" }}"
{{- end }}

[data]
    wmForceDisplayServer = {{ $wmForceDisplayServer | quote }}
    disableBwSshAgent    = {{ $disableBwSshAgent }}
    bwServerUrl          = {{ $bwServerUrl | quote }}
    isMac                = {{ eq .chezmoi.os "darwin" }}
    isLinux              = {{ eq .chezmoi.os "linux" }}
    isWindows            = {{ eq .chezmoi.os "windows" }}
    isUbuntu             = {{ and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "id" | default "") "ubuntu") }}
    isArch               = {{ and (eq .chezmoi.os "linux") (eq (get .chezmoi.osRelease "id" | default "") "arch") }}
    isWSL                = {{ and (eq .chezmoi.os "linux") (lookPath "wslpath" | not | not) }}
    isX11                = {{ and (eq .chezmoi.os "linux") (or (eq $wmForceDisplayServer "x11") (and (eq $wmForceDisplayServer "") (eq (env "XDG_SESSION_TYPE" | default "") "x11"))) }}
    isWayland            = {{ and (eq .chezmoi.os "linux") (or (eq $wmForceDisplayServer "wayland") (and (eq $wmForceDisplayServer "") (eq (env "XDG_SESSION_TYPE" | default "") "wayland"))) }}

[bitwarden]
    unlock = "auto"
